* {
  font-family: 'Open Sans', sans-serif;
}

.account {
  min-height: 28;
  background-color: #424242;
}

.account__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.account__item {
  list-style-type: none;
  margin-left: 30px;
}

.account__item a {
  color: #FFFFFF;
  font-size: 16px;
}

.header {
  min-height: 112px;
  background: -webkit-gradient(linear, left bottom, left top, from(#EBEBEB), to(#FFFFFF));
  background: linear-gradient(to top, #EBEBEB, #FFFFFF);
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2%;
}

.header-introduce {
  width: 462px;
  height: 42px;
  text-align: center;
  background-color: #79B260;
  border-radius: 4px;
  font-size: 23px;
  padding: 0.2rem 0 0.2rem 0.1rem;
  margin: 15px 0 0 20px;
}

.header-introduce__input {
  width: 329px;
  height: 34px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.header-introduce__btn {
  background-color: #79B260;
  color: #FFFFFF;
  border: none;
}

.header-introduce__btn img {
  width: 25px;
}

.header__basket {
  font-size: 23px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__basket img {
  width: 28px;
}

.header__basket span {
  font-size: 16px;
}

.header__sum {
  font-size: 27px;
}

.header__btn {
  font-size: 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#252525), to(#404040));
  background: linear-gradient(to top, #252525, #404040);
  color: #FFFFFF;
  border-radius: 4px;
  border-color: #555555;
  margin-left: 15px;
  outline: none !important;
}

.header__line {
  width: 1px;
  height: 70px;
  margin-left: 6px;
  background-color: #D7D7D7;
}

.header__wish-list {
  font-size: 21px;
  margin: 10px 0 0 22px;
}

.header__wish-list img {
  width: 26px;
  height: 26px;
}

.header__counter {
  width: 29px;
  height: 17px;
  font-size: 13px;
  background: #79B260;
  border-radius: 40%;
  margin: -10px 0 0 70px;
  text-align: center;
  position: relative;
}

.header__counter a {
  color: #F3F3F3;
  text-decoration: none;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header p {
  margin-top: -5px;
}

.menu {
  height: 41px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 19px;
}

.menu-nav :focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#7AB361), to(#92D673));
  background: linear-gradient(to top, #7AB361, #92D673);
  color: #FFFFFF;
}

.menu-nav li {
  list-style-type: none;
}

.menu-nav__link {
  width: 130px;
  height: 41px;
  color: #5B5B5B;
  background-color: #FFFFFF;
  font-size: 19px;
  border: none;
  outline: none;
  padding: 0;
  outline: none !important;
}

.slider {
  margin: 14px 0 14px 0;
}

.slider__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 825px;
  height: 304px;
  background: url("../../src/img/slider.jpg") center/cover no-repeat;
  color: #FFFFFF;
  padding: 130px 12px 76px 12px;
}

.slider__carousel h2 {
  font-size: 47px;
  line-height: 47px;
  margin: 0 0 0 303px;
}

.slider__carousel p {
  font-size: 23px;
  line-height: 23px;
  margin: 0 0 0 366px;
}

.slider__carousel h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 9px 0 0 400px;
}

.slider__arrows {
  width: 39px;
  height: 39px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0 14px 0 14px;
}

.slider__arrows_back {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.slider__banner {
  width: 269px;
  height: 305px;
  background: radial-gradient(circle at 30% center, #9F9F9F, #4A4A4A);
  color: #FFFFFF;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 7px;
}

.slider__banner h2 {
  font-size: 29px;
  line-height: 29px;
}

.slider__banner h3 {
  font-size: 15px;
  line-height: 15px;
  margin-top: 8px;
}

.slider__banner p {
  font-size: 21px;
  line-height: 21px;
  margin: 25px 0 4px 0;
}

.slider__banner h4 {
  font-size: 29px;
  line-height: 29px;
  margin: 4px 0 0 0;
}

.slider__btn {
  width: 108px;
  height: 28px;
  margin-top: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#51A551), to(#60C160));
  background: linear-gradient(to top, #51A551, #60C160);
  color: #FFFFFF;
  border: none;
  outline: none !important;
  border-radius: 4px;
}

.slider__btn span {
  text-shadow: 1px 2px 1px #3C8F3C;
}

.shop__nav {
  width: 220px;
  min-height: 864px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding-left: 24px;
  padding-right: 24px;
}

.shop__nav h2 {
  color: #6B6969;
  font-size: 24px;
  font-weight: 400;
}

.shop__all {
  width: 220px;
  height: 29px;
  background: -webkit-gradient(linear, left bottom, left top, from(#7AB361), to(#92D673));
  background: linear-gradient(to top, #7AB361, #92D673);
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
  padding-top: 3px;
}

.shop__all a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 24px;
}

.shop__categories {
  padding: 0 0 55px 0;
}

.shop__categories h3 {
  font-size: 17px;
  margin-top: 12px;
}

.shop__categories li {
  line-height: 30px;
  list-style-type: none;
  border-bottom: 1px solid;
  border-color: #EBEDEF;
}

.shop__categories li:last-child {
  border-bottom: none;
}

.shop__categories a {
  color: #555454;
  font-size: 15px;
  text-decoration: none;
}

.shop-buy__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1px;
}

.shop-buy__btn {
  width: 140px;
  height: 39px;
  font-size: 17px;
  color: #6B6969;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#E8E8E8), to(#F9F9F9));
  background: linear-gradient(to top, #E8E8E8, #F9F9F9);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  outline: none !important;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.shop-buy__btn_active {
  font-size: 18px;
  color: #464646;
  background: #fff;
}

.shop-buy__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 890px;
  min-height: 864;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-left: 40px;
  padding: 25px 0 0 26px;
}

.shop-buy__goods a {
  text-decoration: none;
}

.shop-buy__product {
  width: 108px;
  height: 160px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 5px 63px 90px 0;
  text-align: center;
}

.shop-buy__product_active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.shop-buy__img {
  margin-top: 5px;
}

.shop-buy__title {
  font-size: 14px;
  color: #646464;
  line-height: 15px;
  margin: 20px 0 0 0;
}

.shop-buy__price {
  font-size: 22px;
  color: #F05356;
}

.shop-buy__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shop-buy__pages li {
  list-style-type: none;
}

.shop-buy__page {
  width: 24px;
  height: 28px;
  color: #646464;
  border: none;
  outline: none !important;
  background-color: #fff;
}

.shop-buy__page_active {
  border: 1px solid;
  border-color: #EFEFEF;
  border-bottom: 4px solid #81BD66;
}

.library {
  min-height: 420px;
  background-color: #414140;
}

.library .library-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.library .library-menu__block {
  margin-right: 50px;
  margin-top: 23px;
}

.library .library-menu__block:last-child {
  margin-right: 0;
}

.library .library-menu__block h3 {
  font-size: 20px;
  color: #DDDDDD;
}

.library .library-menu__list {
  padding: 0;
  margin-top: 28px;
}

.library .library-menu__list li {
  list-style-type: none;
  border-bottom: 1px solid;
  border-color: #4D4D4C;
}

.library .library-menu__list li:last-child {
  border-bottom: none;
}

.library .library-menu__list li a {
  font-size: 14px;
  line-height: 24px;
  background-color: #414140;
  color: #DDDDDD;
}
/*# sourceMappingURL=style.css.map */